<h1>Pirate Name: <%= @pirate.name %></h1>
<h2>Pirate Weight:<%= @pirate.weight %></h2>
<h2>Pirate Height: <%= @pirate.height %></h2>

<h1>Ship Name: <%= @ship_1.name %></h1>
<h2>Ship Type: <%= @ship_1.type %></h2>
<h2>Ship Booty: <%= @ship_1.booty %></h2>

<h1>Ship Name: <%= @ship_2.name %></h1>
<h2>Ship Type: <%= @ship_2.type %></h2>
<h2>Ship Booty: <%= @ship_2.booty %></h2>
